@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    #footer {
        flex-direction: column;
    }

    .section-contact {
        padding-left: 5vw;
    }

    .contact-container {
        flex-direction: column;
        padding-left: 0;

    }

    .contact-info {
        padding-left: 50px;
    }

    .contact-info .texto {
        margin: 100px 0;
    }

    .container-items,
    .container-items-tienda {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    .form-container {
        width: 100%;
    }

    .mapa {
        width: 100%;
    }

    .pagination {
        display: flex;
        flex-direction: row;
    }

    .titulo-faq {
        justify-content: center;
        align-items: center;
        margin-top: 20%;
    }

    .acordeon {
        padding: 0;
    }
}